ATLAS_URI=mongodb://davidname44_db_user:em2NaB2Q5Hwie8Tr@ac-qp2hboo-shard-00-00.7o7y6av.mongodb.net:27017,ac-qp2hboo-shard-00-01.7o7y6av.mongodb.net:27017,ac-qp2hboo-shard-00-02.7o7y6av.mongodb.net:27017/?ssl=true&replicaSet=atlas-capj7m-shard-0&authSource=admin&appName=Cluster01
MONGODB_URI=
MONGODB_DB_NAME=database_electripay
